<div id="categoryList" *ngIf="categories.length">
  <h1>Categories for {{month}}/{{year}}</h1>
  <table>
    <thead>
      <tr><td>Name</td><td>Amount</td><td>Edit</td><td>Delete</td></tr>

    </thead>
    <tbody>
      <tr *ngFor="let i of categories">
        <td>{{i.name}}
        <td><input type="number" title="{{i.name}}" [(ngModel)]="i.amount" /></td>
        <td><button  (click)="edit(i)" >Edit</button></td>
        <td><button value="Delete" (click)="deleteCategory(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>

</div>
