<div *ngIf="budgetID>0">
  <h1>add Category</h1>
  <form [formGroup]="addCategory">
    <fieldset>
      <legend>Add New Category</legend>
      <table>
        <tr><td><label for="name">

          name
          <span *ngIf="name.errors?.required && name.touched">You must enter a name</span>
          
          </label></td>
        <td><input id="name" formControlName="name" /></td></tr>
        <tr><td><label for="amount">Amount
          <span *ngIf="amount.errors?.isNumber">You must enter a number</span>
          </label></td><td><input id="amount"formControlName="amount"  /></td></tr>
        <tr><td>Is Recurring</td><td><input type="checkbox" formControlName="isRecurring" aria-label="Is Recurring" /></td></tr>
      </table>
    </fieldset>
    <input type="button" id="btnAdd" value="Add" (click)="add()" />
    </form>
</div>

