<div *ngIf="budgetID>0">
  <h1>add Category</h1>
  <form [formGroup]="addCategory">
    <fieldset>
      <legend>Add New Category</legend>
      
        <div class="form-group"><label for="name">

          name
          <span *ngIf="name.errors?.required && name.touched">You must enter a name</span>
          </label>
          
        <input id="name" class="form-control" formControlName="name" /></div>
        <div class="form-group"><label for="amount">Amount
          <span *ngIf="amount.errors?.isNumber">You must enter a number</span>
          </label>
      <input id="amount"formControlName="amount" class="form-control"  /></div>
        <div class="form-group"><label for="chkIsRecurring">Is Recurring</label>
<input type="checkbox" formControlName="isRecurring" aria-label="Is Recurring"id="chkIsRecurring" /></div>
      
    </fieldset>
    <input type="button" id="btnAdd" class="form-control" value="Add" (click)="add()" />
    </form>
</div>

